# Python
__pycache__/
*.py[cod]
*$py.class

# Environnements virtuels
venv/
.venv/
.env

# Outils et IDE
.vscode/
.DS_Store
Thumbs.db

# Tests et cache
.pytest_cache/
*.log

# Fichiers vault
*.vault
*.dat
*.lbox
*.vault.lock

# Build PyInstaller
dist/
build/
*.spec
